{% extends 'base.html.twig' %}

{% block title %}Tehran Gasht{% endblock %}

{% block body %}


{% if attractions is empty %}
    <h2>No attraction is found</h2>
{% else %}
<ul>
{% for attraction in attractions %}
    <li>
        <a href="{{ path('app_attraction_view',{id: attraction.id} )}}">{{ attraction.name }}</a>
        ({{ attraction.score }}) 
        <a href="{{ path('app_attraction_edit',{id: attraction.id} )}}">edit</a>
        
        <a href="{{ path('app_attraction_delete',{id: attraction.id} )}}">delete</a>
    </li> 
{% endfor %}
</ul>
{% endif %}


<a href="{{ path('app_attraction_new')}}">Create new attraction</a>


{% endblock %}
